.information{
	background-image: url(/kitchen.jpg);
}


.container{
	max-width: 1400px;
	padding: 0 2px;
	margin: 0 auto;
}

.title{
	text-align: center;
	margin: 0;
	padding: 20px;

}


.product{
	list-style-type: none;
	margin: 0;
	padding: 0;
}