body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.header {
	position: fixed;
	width: 1600px;
	background-color:transparent;
	color: #000;
	padding: 15px 0;
	text-align: center;
}
.header-title{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 4em;
	font-weight: 500;
	
}


.link {
	
	color: #000;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s;
}
 .link:hover {
	background-color: #dde3e4;
}

.main{
	max-width: 1400px;
}